@model IEnumerable<Blog>
<h1>Blog Dashboard</h1>
<a href="/blogs/new">Add new Blog post</a>
<hr>
<h3>All Blogs:</h3>
@foreach(var blog in Model)
{
    <div class="blog">
        <h4><a href="/blogs/@blog.blog_id">@blog.title</a></h4>
        <p>@blog.content</p>
        <p>By - <a href="/@blog.Author.user_id">@blog.Author.first_name @blog.Author.last_name</a></p>
        @{
            int karma = blog.Votes.Count(v => v.is_upvote) - blog.Votes.Count(v => !v.is_upvote);
            if(ViewBag.LoggedInUser == blog.Author.user_id)
            {
                <a href="/blogs/@blog.blog_id/delete">DELETE</a>
            }
            else if(blog.Votes.Any(v => v.user_id == ViewBag.LoggedInUser))
            {
                <p>You've already voted!</p>
            }
            else
            {
                <a href="/blogs/vote/@blog.blog_id/0">[-]</a>
                <a href="/blogs/vote/@blog.blog_id/1">[+]</a>
            }
            <p>Karma Score: @karma</p>
        }
    </div>
}